body{
    font-size: bolder;
    font-family: system-ui;
}


h1{
    font-size: large;
    font-weight: bold ;
    color: rgb(162, 0, 255);
}


h2{
    color: yellow;
    background-color: black;
}


h6{
    color: rgb(134, 90, 90);
}